:host {
 display: block;
  position: relative;

  app-aside {
    position: absolute;
    top: 0;
    left: -179px;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;

    section {
      margin: 12px;
    }
  }
}
