.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 44px;
    width: 375px;
    height: 60px;
    border-radius: 41px;

    font-size: 24px;
    line-height: 36px;

    background: #181ead;
  }
}
